<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Survey</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript src="{{url_for('static',filename='main.js')}}"></script>

</head>
<body>
<br><br><br>
<h1>Mental Health Survey</h1><br><br>

<form method="post" action="/" onsubmit="return false">
    {{form.hidden_tag()}}
    <br>
    <fieldset class="ull" style="border : 1px solid black;margin-top:1em;margin-right:1em; padding: 1em; padding-top:3em">

    {{form.q1.label(class_="qlabel")}}
    {{form.q1(class_="qchoice")}}<br>

    {{form.q2.label(class_="qlabel")}}
    {{form.q2(class_="qchoice")}}<br>

    {{form.q3.label(class_="qlabel")}}
    {{form.q3(class_="qchoice")}}<br>

    {{form.q4.label(class_="qlabel")}}
    {{form.q4(class_="qchoice")}}<br>

    {{form.q5.label(class_="qlabel")}}
    {{form.q5(class_="qchoice")}}<br>

    {{form.q6.label(class_="qlabel")}}
    {{form.q6(class_="qchoice")}}<br>

    {{form.q7.label(class_="qlabel")}}
    {{form.q7(class_="qchoice")}}<br>

    {{form.q8.label(class_="qlabel")}}
    {{form.q8(class_="qchoice")}}<br>

    {{form.q9.label(class_="qlabel")}}
    {{form.q9(class_="qchoice")}}<br>

    {{form.q10.label(class_="qlabel")}}
    {{form.q10(class_="qchoice")}}<br>

    {{form.q11.label(class_="qlabel")}}
    {{form.q11(class_="qchoice")}}<br>

    {{form.q12.label(class_="qlabel")}}
    {{form.q12(class_="qchoice")}}<br>

    {{form.q13.label(class_="qlabel")}}
    {{form.q13(class_="qchoice")}}<br>

    {{form.q14.label(class_="qlabel")}}
    {{form.q14(class_="qchoice")}}<br>

    {{form.q15.label(class_="qlabel")}}
    {{form.q15(class_="qchoice")}}<br>
    </fieldset>
    <br><br>
    <div class="wrap">
        <input type="submit" value="submit" align="center" id="sub">
    </div>
    <br><br>

    <div class="negativeAlert"  style="display:none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        jfdfh
    </div>
    <div class="positiveAlert" style="display:none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    <div class="neutralAlert" style="display:none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
</form>
<br><br><br><br><br>
</body>
</html>
